/* ---------------- navigation bar style ---------------- */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-nav{
    background-color: #F7F7F8;
    padding: 10px;
}
.main-nav a{
    font-size: 20px;
    color: #3d414a;
    text-decoration: none;
    transition-duration: 0.5s;
}
.main-nav a:hover{
    color: tomato;
    
}
#selected{color: #5762D5;}

form{
    width: 25rem;
    background-color: #eeeff1;
    border: solid #3c404a2f;
    border-radius: 1rem;
    color: #3C404A;
    padding: 25px;
    margin: 50px auto;

}
.field{
    width: 94%;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
.field:focus{
    outline: solid 2px #5762D5;
}
button{
    width: 100%;
    height: 38px;
    color: white;
    font-size: 24px;
    background-color: #5762D5;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    transition-duration: 0.5s;
}
button:hover{
    background-color: #3b4295;
    cursor: pointer;

}