body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* ---------------- navigation bar style ---------------- */
header{
    display: flex;
    padding: 0 5%;
    background-color: #F7F7F8;
    justify-content: space-between;
    height: 70px;
    box-shadow: 0px 10px 25px #00000043;
    
    
   
}
header img{
    padding-top: 12px ;
}

.main-nav{
    padding: 10px;
    display: flex;
    column-gap: 25px;
    padding-top: 18px;
    background-color: #F7F7F7;
    
}
.main-nav a{
    font-size: 20px;
    color: #3d414a;
    text-decoration: none;
    transition-duration: 0.5s;
    padding-top: 5px;
}
.main-nav a:hover{
    color: tomato;
}

#selected{color: #5762D5;}

header svg:hover{
    cursor: pointer;
}
#moon-icon{
    display: none;
    transform: translateY(-5px);
}
#sun-icon{
    transform: translateY(-5px);
}
.body-dark{
    background-color: #000000;
    color: white;

}

/* ---------------- intro section ---------------- */
#intro{
    display: flex;
    width: 1100px;
    margin: 50px auto;
    justify-content: space-between;

}

.main-intro{
   width: 50%;

}
#intro button{
    width: 200px;
    height: 40px;
    background-color: #5762D5;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.3s;
    display: block;
    animation: slide-up 1s;
}
@keyframes slide-up {
    0%{transform: translateY(40%); opacity: 0%;}
    70%{transform: translateY(-5px);}
    100%{transform: translateY(0%); opacity: 40%;}

}
#intro button:hover{
    background-color: #3541bd;
    cursor: pointer;
}
#intro h1{
    font-size: 30px;
    font-weight: bold;
}
#intro p{
    font-size: 18px;
    
}
video{
    width: 40%;
    border-radius: 20px;
  
}
/* ---------------- Main content ---------------- */
#products-intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;
    margin: auto;
    gap: 30px 30px;
    
}
/* ---------------- Product Card ---------------- */
.product-nav{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 15px auto;

}
.product-nav h3{
    margin: 0;
}
.product-nav a, main a{
    color: #5762D5;
    text-decoration: none;
    transition-duration: 0.5s;
}
.product-nav a:hover, main a:hover{
    color: palevioletred;
}
.product-card{
    background-color: #e9e6f0;
    border-radius: 20px;
    width: 250px;
    margin: auto;
    color: #2D2727;
}
.review-con{
    opacity: 0%;
    position: absolute;
    margin: 190px 0px 0px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #F1F6F9;
    z-index: 1;
    transition-duration: 0.3s;
}
.product-img{
    border-radius: 20px 20px 0 0;
    transition-duration: 0.3s;
}
.hover-img{
    filter: brightness(0.4);
}
.hover-review{
    opacity: 100%;
}
.product-info{
    padding: 10px 25px;
}
/*----- Footer ------*/
footer{
    background-color: #2B2343;
    height: 300px;
    width: 100%;
    color: white;
    text-align: center;
}
/*----- All suits ------*/
#product-con{
    width: 1260px;
    height: 1260px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px;
}
.suit{
    height: 100%;
    transition-duration: 0.3s;
  
   
}
.suit:hover{
    box-shadow: 10px 10px 35px #00000055;
    cursor: pointer;
}
.vertical{
    grid-row: 1/3;
    grid-column: 3/4;
    
}